@media screen and (max-width: 1200px) {
  nav,
  .banner {
    margin: 0 1rem;
  }
}
@media screen and (max-width: 900px) {
  nav {
    flex-direction: column;
    height: auto;
  }
  nav > ul > li:last-child {
    background-color: transparent;
    color: var(--white);
    padding: 0rem;
    height: auto;
  }
  nav .brand {
    margin-top: 3rem;
  }
  main {
    height: 60rem;
  }
}
@media screen and (max-width: 720px) {
  :root {
    --font-5: 1.3rem;
    --font-4: 1.2rem;
    --font-3: 2rem;
    --font-2: 3rem;
    --font-1: 3.5rem;
    --primary-color: #5dc269;
    --second-color: #fec428;
    --orenge-gray: #3d3328;
    --white: #fff;
    --black: #000;
  }
  .btn {
    padding: 1rem 2rem;
    font-weight: 500;
  }
  .banner h2 {
    font-size: 3rem;
    margin-top: 5rem;
  }
  .banner h1 span:nth-child(1) {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1;
  }
  .banner h1 span:nth-child(3) {
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 600;
  }
  .banner .btn {
    margin-top: 2rem;
  }
  header {
    background-color: #022004d1;
  }
  nav {
    flex-direction: row;
    max-width: 49rem;
    margin: 0 auto;
  }
  nav .brand {
    margin: 1.4rem 0;
  }
  nav > ul {
    display: none;
  }
  nav .bars {
    display: block;
    font-size: 2.5rem;
    background-color: var(--black);
    padding: 0.2rem 0.5rem;
    cursor: pointer;
  }
  main {
    height: 40rem;
    position: relative;
    z-index: 1;
  }
}
@media screen and (max-width: 520px) {
  nav {
    margin: 0 1rem;
  }
  main {
    height: 30rem;
  }
  .banner h2 {
    font-size: 2.5rem;
  }
  .banner h1 span:nth-child(1) {
    font-size: 4rem;
  }
  .banner h1 span:nth-child(3) {
    font-size: 3.5rem;
  }
}
